body{
  margin:0;
  font-family:sans-serif;
  background:#0f172a;
  color:white;
}

.container{
  max-width:500px;
  margin:auto;
  padding:20px;
}

input{
  width:100%;
  margin:5px 0;
  padding:10px;
  border-radius:8px;
  border:none;
}

button{
  width:100%;
  padding:10px;
  margin-top:10px;
  background:#22c55e;
  border:none;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.grid{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.card{
  background:#1e293b;
  padding:10px;
  border-radius:10px;
  width:45%;
}